h2 {
    font-size: 50px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 30px;
}
.name-of-app {
    text-align: center;
}
.list-of-major-components {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-upper-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-upper-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-upper-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-smith-machine-upper-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-upper-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-mid-lower-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-mid-lower-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-smith-machine-mid-lower-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-mid-lower-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-leg-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-leg-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-smith-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-bicep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-bicep-exercises{
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-bicep-exercises{
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-tricep-exercises{
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-tricep-exercises{
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-tricep-exercises{
    list-style-type: none;
    font-size: 20px;
}
.list-of-cardio-exercises{
    list-style-type: none;
    font-size: 20px;
}