body {
    background-color: ivory;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
h3 {
    font-size: 30px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.content-of-left-siderbar {
    list-style-type: none;
    font-size: 20px;
    padding-left: 0px;
}
aside {
    position: fixed;
    padding-left: 0px;
    background-color: white;
    width: 250px;
    height: 100vh;
}
aside button {
    height: 40px;
    width: 200px;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 80%;
    background-color: white;
    border: none;
    padding-left: 0%;
}
aside button:hover {
    background-color: whitesmoke;
}
.name-of-app {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 80px;
}
.list-of-barbell-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-smith-machine-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-leg-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-leg-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-smith-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-bicep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-bicep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-bicep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-tricep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-tricep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-tricep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cardio-exercises {
    list-style-type: none;
    font-size: 20px;
}
main {
    padding-left: 80%;
    overflow-y: scroll;
    border: blue;
}
main button {
    height: 70px;
    font-size: 80%;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: white;
    border: none;
}
main button:hover {
    background-color: whitesmoke;
}
.exercise-btn {
    width: 100%;        /* Set buttons the same width as its parent (ul list) */
    display: flex;      /* Make content to side by side instead of row by row */
    align-items: center;
    gap: 14px;      /* Gap of 14px between each element */
    padding: 14px 16px;     /* 14px from top and bottom, 16px from left and right */
    cursor: pointer;       /* Change cursor to a hand when hovering onto the button */
}
.exercise-btn:hover {
    background-color: whitesmoke;       /* Hover effect */
}
.exercise-btn:active {
    transform: scale(0.98);     /* Makes button shrink a little bit when being clicked */
}
.thumb {        /* Editing the frame of the picture */
    width: 64px;        /* Set container's width to 64px */
    height: 64px;       /* Set container's height to 64px */
    border-radius: 50%;    /* Circle that is half of the size of teh square */
    overflow: hidden;       /* Crop the images ourside the circle */
    border: 1px solid gold;
    flex: 0 0 64px;     /* The .thumb should always stay at 64px wide and never shrink */
    background-color: white;
}
.thumb img {        /* Editing the actual picture */
    width: 100%;        /* Be as wide as the parent (.thumb) */
    height: 100%;       /* Be as tall as the parent (.thumb) */
    object-fit: cover;      /* Fill the entire container */
}
.name {
    font-size: 18px;
    font-weight: 500;
}
.aside-btn {
    width: 100%;
    cursor: pointer;
    height: 50px;
}
.aside-btn:hover {
    background-color: whitesmoke;
}
.aside-btn:active{
    transform: scale(0.98);
}