h2 {
    font-size: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
h3 {
    font-size: 30px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.name-of-app {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 80px;
}
.top-buttons {
    background-color: #FAEBD7;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}
.top-buttons>button {
    font-size: 40px;
    height: 50px;
    width: 200px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.left-sidebar {
    display: contents;
    padding-left: 20%;
}
.list-of-barbell-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-smith-machine-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-chest-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-back-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-leg-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-leg-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-smith-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-shoulder-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-barbell-bicep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-bicep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-bicep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-dumbbell-tricep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cable-machine-tricep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-strength-machine-tricep-exercises {
    list-style-type: none;
    font-size: 20px;
}
.list-of-cardio-exercises {
    list-style-type: none;
    font-size: 20px;
}
main {
    padding-left: 40%;
}